html,body{
  height:100%;
  width:100%
}
ul,li{
  list-style-type:none
}
*{
  margin:0px ;
  padding:0px;
  font-size:0.2rem;
  font-family:MicroSoft YaHei;
  box-sizing:border-box;
}
a{
  text-decoration:none
}
.column{
  display:-wekbit-box;
  display:flex;
  display:-webkit-flex;
  -webkit-flex-flow:row nowrap;
  align-items: center;
}
.justify{
  -webkit-box-align:justify;
  justify-content:space-between;
}
.column>*{
  flex:none;
}
.flex{
  flex:auto;
  overflow:hidden;
}
.bfc_block:after{
  content:' ';
  display:block;
  clear:both
}
.stretch{
  -webkit-box-pack:stretch;
  align-items:stretch;
}
.row_column{
  -webkit-box-orient: vertical;
  display:-webkit-box;
  display:flex;
  flex-direction:column;
  align-items:flex-start;

}
.border{
  position:relative;
}
.border:after{
  content:' ';
  width:100%;
  height:1px;
  position:absolute;
  bottom:0px;
  left:0px;
  background-color:rgba(255,255,255,0.6);
}

@media screen and (-webkit-min-device-pixel-ratio: 2){
  .border:after{
    width:200%;
    -webkit-transform:scale(0.5);
    -webkit-transform-origin:left center
  }
}


